@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Rubik';
    src: url(../fonts/Rubik-SemiBold.ttf);
    font-weight: 600;
}
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
body {
    background-color: #EBEEF0;
}
input,
button,
textarea,
select {
  font: inherit;
}
* {
    font-family: 'Montserrat';
    font-weight: 500;
}
/* all styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}
.blue {
    color: #2497FF;
}
.btn {
    background-color: #2497FF;
    padding: 20px 30px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .5s;
    width: fit-content;
    height: fit-content;
    display: block;
}
.btn:hover {
    background: #1E79CB;
}
h1 {
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 50px;
    line-height: 59px;
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    max-width: 520px;
}
h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 43px;
    color: #222B38;
    font-family: 'Rubik';
    text-transform: uppercase;
}
.title {
    margin-bottom: 60px;
}
h3 {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
}
span{
    /* font-family: 'Rubik';
    font-weight: 500; */
    font-family: inherit;
}
p {
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    font-weight: 400;
}
.menu-btn {
    width: 43px;
    height: 22px;
	position: relative;
	z-index:2;
    cursor:pointer;
    display: none;
}
.menu-btn span {
	width: 30px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #FFFFFF;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.active .menu-btn span:nth-of-type(1) {
  display: none;
}
.active .menu-btn span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.active .menu-btn span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.menu {
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: fit-content;
	padding: 100px 20px;
    background: #222B38;
	transform: translateX(-100%);
	transition: transform 0.5s; 
}
.active .menu {
	transform: translateX(0);
}
.menu li {
	list-style-type: none;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    gap: 20px;
    align-items: center;
    margin-bottom: 60px;
}
.menu ul li {
    width: fit-content;
}
.menu ul li a {
    font-family: 'Rubik';
    font-size: 36px;
    line-height: 54px;
    color: #fff;
    transition: all .5s;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #1E79CB;
}
.menu a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}
/* End all styles */
header {
    padding: 20px 0;
    background-color: #222B38;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    max-width: 120px;
}
.header__nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
}
.header__nav ul li a{
    transition: all .5s;
}
.header__nav ul li a:hover {
    color: #1E79CB;
}
.header__nav ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    text-decoration: none;
}
.main {
    background: url(../images/main_bg.jpg) center center / cover no-repeat;
    padding: 91px 0;
    border-radius: 0px 0px 40px 40px;
    margin-top: 100px;
}
.main__wrapper {
    padding: 60px;
    background-color: #131820;
    max-width: 660px;
    border-radius: 20px;
}

.main__description {
    margin-bottom: 36px;
    max-width: 485px;
}
.achievements {
}
.achievements__container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px;
}
.achievements__item {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
}
.achievements__item h3{
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-size: 48px;
    line-height: 57px;
    color: #222B38;
}
.achievements__item p{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}
.services__container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.services__item {
    display: flex;
    border-radius: 20px;
}
.services__item-info {
    padding: 60px;
    background-color: #222B38;
    width: 40%;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
}
.services__item img {
    width: 60%;
    border-radius: 0 20px 20px 0;
}
.services__item-info h3{
    margin-bottom: 40px;
}
.services__item-info a {
    margin-top: auto;
    width: 100%;
    text-align: center;
}
.services__item-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.services__item-info ul li {
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    position: relative;
    padding-left: 20px;
}
.services__item-info ul li:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #2497FF;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 , -50%);
}
.mb {
    margin-bottom: 150px;
}
.cost.mb {
    margin-bottom: 230px;
}
.about {
    background: url(../images/about.jpg) center center / cover no-repeat;
    border-radius: 40px;
    padding: 60px 0;

}
.about__info {
    background: #222B38;
    border-radius: 40px;
    padding: 60px 40px;
    max-width: 600px;
}
.about__info h2{
    margin-bottom: 40px;
    color: #fff;
}
.about__info p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
}
.about__info p:not(:last-of-type) {
    margin-bottom: 17px;
}
.work__container {
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    gap: 40px;
}
.work__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    gap: 20px;
    padding: 20px;
}
.work__item {
    font-size: 14px;
    line-height: 17px;
    color: #000;
    text-align: center;
}
.whyus__container {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 40px;
}
.whyus__item {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #222B38;
    padding: 40px;
    border-radius: 20px;
}
.whyus__item-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.whyus__item span {
    font-family: 'Rubik';
    max-width: 200px;
    font-size: 19px;
    line-height: 23px;
    color: #fff;
}
.whyus__item p {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: auto;
}

/* faq */
.question  input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.question .row {
    display: flex;
}
.question .row .col {
    flex: 1;
}
/* Accordion styles */
.question .tabs {
    overflow: hidden;
}
.question .tab {
    width: 100%;
    color: white;
    overflow: hidden;
}
.question .tab:not(:last-of-type) {
    margin-bottom: 10px;
}
.question .tab-label {
    font-family: 'Rubik';
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222B38;
    cursor: pointer;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    padding: 40px 60px;
    text-transform: uppercase;
    border-radius: 20px;
    transition: all .5s;
}
.question input:checked + label{
    border-radius: 20px 20px 0 0;
}
.question .tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all 0.35s;
    transform: rotate(90deg);
}
.question .tab-content {
    max-height: 0;
    padding: 0px 60px;
    color: #fff;
    background: #2497FF;
    transition: all 0.35s;
    font-size: 16px;
    line-height: 20px;
    border-radius: 0 0 20px 20px;
}
.question .tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}
.question .tab-close:hover {
    background: #1a252f;
}

.question input:checked + .tab-label::after {
    transform: rotate(-90deg);
    color: #2497FF;
}
.question input:checked ~ .tab-content {
    max-height: 100vh;
    padding: 40px 60px
}

/* End faq */

.cost {
    background: url(../images/cost.jpg) center center / cover no-repeat;
    max-height: 650px;
    border-radius: 40px;
}
.cost__info {
    padding: 60px;
    border-radius: 40px;
    background-color: #222B38;
    max-width: 580px;
    margin: 0 auto;
    position: relative;
    top: 60px;
}
.cost__info-title {
    margin-bottom: 40px;
    color: #fff;
}
.cost__info form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cost__info form select {
    margin-bottom: 20px;
}
.cost__info input,
.cost__info select {
    padding: 20px 40px;
    color: #000000;
    border-radius: 10px;
    outline: none;
    border: none;
}
.cost__info select {
    appearance: none;
    position: relative;
    background-image: url(../images/UP.svg);
    background-repeat:  no-repeat;
    background-position: right;
    background-position-x: calc(100% - 20px);
}

.cost__info input::placeholder {
    color: #000;
}
.cost__info button {
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}
input.location {
    background-image: url(../images/location.svg);
    background-repeat:  no-repeat;
    background-position: left center;
    background-position-x: 40px;
    padding-left: 70px;
}
.contacts__container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.contacts__container iframe {
    max-width: 800px;
    border-radius: 0 20px 20px 0;
}
.contacts__info {
    background: #222B38;
    border-radius: 20px 0px 0px 20px;
    padding: 60px;
    display: flex;
    flex-direction: column;
}
.contacts__info-title {
    margin-bottom: 20px;
}
.contacts__info-text {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}
.contacts__mb {
    margin-bottom: 40px;
}
.contacts__info a:nth-of-type(2) {
    margin-bottom: 10px;
}
footer {
    background-color: #222B38;
    padding: 100px 0;
}
.footer__logo {
    max-width: 120px;
    height: fit-content;
}
.footer__wrapper {
    display: flex;
    gap: 100px;
}
.footer__title {
    font-family: 'Rubik';
    font-weight: 500;
    margin-bottom: 20px;
    color: #EBEEF0;
    line-height: 19px;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
}
footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
}
footer ul li a {
    font-size: 16px;
    line-height: 20px;
    color: #EBEEF0;
    text-decoration: none;
    transition: all .5s;
}
.footer__socials svg rect {
    transition: all .5s;
}
.footer__socials svg:hover rect {
    fill: #1E79CB;
}
footer ul li a:hover {
    color: #1E79CB;
}
.footer__container {
    display: flex;
    justify-content: space-between;
}
.footer__socials {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 1200px) {
    .services__item-info,
    .services__item img{
        width: 50%;
    }
    .services__item-info ul {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1023px) {
    .services__item img {
        min-height: 500px;
    }
    .about__info {
        margin: 0 auto;
    }
    .contacts__info {
        padding: 40px;
    }
    .contacts__container {
        grid-template-columns: 1.2fr 1.8fr;
    }
    .menu-btn {
        display: flex;
    }
    .header__nav,
    .header__tel {
        display: none;
    }
    .question .tab-content {
        font-size: 14px;
        line-height: 21px;
    }
    .question .tab-label {
        padding: 40px
    }
    .question input:checked ~ .tab-content {
        padding: 40px 38px;
    }
    .footer__wrapper ,
    .footer__container{
        gap: 40px;
    }
    .footer__title {
        white-space: nowrap;
    }
    .achievements__container {
        gap: 20px;
    }
    .achievements__item {
        padding: 40px 20px;
    }

    .services__item-info {
        padding: 40px 20px;
    }
    .work__container {
        gap: 20px;
        grid-template-columns: repeat(3 , 1fr);
    }
    .whyus__container {
        gap: 20px;
    }
    .whyus__item  {
        padding: 40px 20px;
    }
    .whyus__item-wrapper {
        gap: 10px;
    }
}
@media screen and (max-width: 767px) {
    .achievements__container {
        grid-template-columns: repeat(1 , 1fr);
    }
    .whyus__container {
        grid-template-columns: repeat(1 , 1fr);
    }
    .work__item {
        padding: 20px 10px;
    }
    .services__item img {
        display: none;
    }
    .services__item-info {
        width: 100%;
        min-height: 500px;
        border-radius: 20px;
    }
    .services__item-info h3 {
        font-size: 20px;
        line-height: 24px;
    }
    .footer__container,
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .footer__title {
        text-align: center;
        margin: 0 auto 20px;
    }
    footer ul {
        align-items: center;
    }
    h1 {
        font-size: 36px;
        line-height: 43px;
        
    }
    .main__description {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;
    }
    .main__button {
        width: 100%;
        text-align: center;
    }
    .main__wrapper {
        padding: 40px 20px;
    }
    .main {
        padding: 40px 0;
    }
    .mb {
        margin-bottom: 60px;
    }
    .cost.mb {
        margin-bottom: 140px;
    }
    .title {
        margin-bottom: 30px;
    }
    .achievements__item h3 {
        font-size: 36px;
        line-height: 43px;
    }
    .about__info {
        padding: 40px 20px;
    }
    h2.about__title  {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 30px;
    }
   h2 {
    font-size: 24px;
    line-height: 28px;
   }
   .title {
    margin-bottom: 30px;
   }
   .cost__info {
    padding: 60px 20px;
   }
   .contacts__container {
    grid-template-columns: repeat(1 , 1fr);
   }
   .contacts__info {
        border-radius: 20px 20px 0 0;
        padding: 40px 20px;
   }
   .contacts__container iframe {
        border-radius: 0 0 20px 20px;
        min-height: 414px;
   }
   .contacts__mb {
     margin-bottom: 20px;
   }
}
@media screen and (max-width: 600px) {
    .about {
        background-size: 100% 100%;
        padding: 40px 0;
    }
}
@media screen and (max-width: 550px) {
    .question .tab-label::after {
        right: 35px;
        position: absolute;
    }
    .question .tab-label {
        padding: 26px 90px 26px 20px;
        font-size: 14px;
        line-height: 21px;
    }
    .question input:checked ~ .tab-content {
        padding: 20px;
    }
    .menu {
        padding: 60px 20px;
    }
    .menu ul {
        margin-bottom: 40px;
    }
    .menu ul li a {
        line-height: 24px;
        font-size: 16px;
    }
    .menu a {
        text-align: center;
        width: 100%;
    }
    .work__container {
        grid-template-columns: repeat(2, 1fr);
    }
    .main {
        border-radius: 0 0 20px 20px;
    }
    .cost {
        border-radius: 20px;
    }
}